@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../../public/fonts/Inter/Inter Web/inter.css");
@import url("../../public/fonts/Mono/ibm.css");

.text-stroke{
  -webkit-text-stroke-width: 2px;
  -webkit-text-fill-color: transparent;
}

.change-stroke:hover{
  /* stroke : #16B6A4 */
}

.svg-stroke {
  stroke : #F4F6F9
}

.typing-demo {
  width: 22ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

@media only screen and (min-width: 1024px) {
  .text-rotate {
    writing-mode: vertical-rl;
  }
} 

/* div, p, li, ul, section, img { */
/*   border: 1px solid red; */
/* } */
