@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../../public/fonts/Inter/Inter Web/inter.css");
@import url("../../public/fonts/Mono/ibm.css");


.text-stroke{
  -webkit-text-stroke-width: 2px;
  -webkit-text-fill-color: transparent;
}

.change-stroke:hover{
  stroke : #5FE9D2 
}

.svg-stroke {
  stroke : #F4F6F9
}

@media only screen and (min-width: 1024px) {
  .text-rotate {
    writing-mode: vertical-rl;
  }
} 
